body {
  margin: 0;
  padding: 0;
  background: rgba(221, 160, 221, 0.3);
  background-size: cover;
}

.container {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 500px;
  height: 300px;
  padding: 30px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(56,84,152,0.9977240896358543);
}

.avatar {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  margin: 30px 20px 30px 0;
  box-shadow: -2px 2px 400px #808080;
  transform: translate(-70%, -10%);
}

h1 {
  font-size: clamp(1.5rem, 3vw, 2rem); 
  transform: translateX(-85px); 
  margin: 0 0 5px;
  padding: 0;
  color: rgba(56, 84, 152, 0.9977240896358543);
}

h3 {
  font-size: clamp(1rem, 2vw, 1.2rem); 
  font-style: italic;
  color: rgba(56, 84, 152, 0.9977240896358543);
  font-weight: 600;
  transform: translateX(-85px); 
  margin: 0 0 20px;
  padding: 0;
}

.bio {
  font-size: clamp(0.8rem, 1.5vw, 1rem); 
  transform: translateX(-95px); 
  font-family: "KoHo", sans-serif;
  margin: 0;
  padding: 0;
  text-align: justify;
  color: rgba(56, 84, 152, 0.9977240896358543);
}


.btnContainer{

  margin-top: 10%;
  margin-left: -120px;
}

button {
  margin-left: 50%;
  margin-top: 5%;
  border-radius: 50% !important;
  background-color:rgba(56,84,152,0.9977240896358543);
  color: white;
  border: none !important;
  padding: 30px 30px !important;
  -webkit-transition: background-color 1s, color 1s, -webkit-transform 0.5s;
     transition: background-color 1s, transform 0.5s;
}

button:hover {
  background-color:rgb(25, 36, 79);
  color: rgb(82, 73, 73);
  -webkit-box-shadow: 5px 0px 18px 0px rgba(105,105,105,0.8);
  -moz-box-shadow: 5px 0px 18px 0px rgba(105,105,105,0.8);
  box-shadow: 5px 0px 18px 0px rgba(105,105,105,0.8);
}

/* adjusting layout for medium screens */
@media screen and (max-width: 900px) {
  .container {
    width: 90%;
    height: 200px;
    padding: 20px;
  }

  .avatar {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }

  h1 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }
  .bio{
    font-size:x-small;
  }
  h1, h3, .bio {
    transform: translateX(0); 
  }
  button {
    padding: 8px;
  }
}